doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title= title
        style(type="text/css").
            h3, p {
                text-align: center;
            }
            h3 {
                text-transform: capitalize;
                font-size: 34px;
                color: #42b448;
            }
            p {
                font-size: 24px;
                color: #2F2F2F;
            }
    body
        div(id="fb-root")
        h3(style="text-align: center")= 'Version chatbot ' + version
        p!= '<strong> curl -X GET "localhost:4500/webhook?hub.verify_token=webhook_verify_token&hub.challenge=CHALLENGE_ACCEPTED"<strong>'
        script(type="text/javascript").
          // Load Facebook SDK for JavaScript
          (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        // Your customer chat code
        div(class="fb-customerchat" attribution="setup_tool" page_id="1147045782082762" theme_color="#ff7e29"                               logged_in_greeting="Hi! How can we help you?" logged_out_greeting="Hi! How can we help you?")

